<footer>
    <div class="group-footer">
        <img class="footer-logo" src="/TimeDesign/images/5bitslogo.png" alt="5Bits Logo">
        <div class="footer-container">
            <a href="https://github.com/RPI-ITWS/ITWS2110-F22-5Bits" target="_blank">Github | </a>
            <a href="/Lab1/index.html" target="_blank"> About the Developers |</a>
            <a href="http://catalog.rpi.edu/" target="_blank"> Course Catalog</a>
        </div>
    </div>
    <p class="copy-right">5Bits ✪ 2022</p>
</footer>
</body>

</html>